.sidebar__main{
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 10px;
}
.sidebar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.logo{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 75px;    
    object-fit: contain;
    object-position: center;
}
.side__nav{
    display: flex;
    align-items: center;
    margin-right: 50px;
    height: 100%;
}
.side__nav .nav__list{
    margin-top: 10px;
    width: 100%;
}
.side__nav .nav__list .nav__item{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.side__nav .nav__list .nav__item a{
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: "Work Sans", sans-serif;
    transition: 300ms all ease-in-out;
    padding: 10px;
}
.side__nav .nav__list .nav__item span{
    margin-left: 5px;
}
.side__nav .nav__list .nav__item a.active{
    background-color: #fff;
    color: #1c1c1c;
    padding: 15px;
    transition: 300ms all ease-in-out;
    border-radius: 5px;
}
.auth{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth button{
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}